name: Deploy Web to FTP
on:
  push:
    branches:
      - main
jobs:
  FTP-Deploy-Action:
    name: Deploy to Hosting
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4

    # SỬA TẠI ĐÂY: Loại bỏ 'cd frontend' vì file package.json nằm ở ngoài cùng
    - name: Install and Build Frontend
      run: |
        npm install
        npm run build 

    # SỬA TẠI ĐÂY: Thay đổi đường dẫn local-dir cho đúng thực tế
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./dist/
        server-dir: ./htdocs/